.table-header {
  border: 1px solid gray;
  border-bottom: solid 3px gray;
  background: aliceblue;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.table-cell {
  padding: 10px;
  border: 1px solid gray;
  background: #fff;
}
.table-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-image{
    width: 80px;
    height: 80px;
    object-fit: fit;
    object-position: center;
}